<% layout('layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">게시글 수정</h1>
    <div class="col-6 offset-3">
        <form action="/boards/<%=board._id%>?_method=PUT" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">제목</label>
                <input type="text" name="board[title]" id="title" class="form-control" value="<%= board.title %>">
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">내용</label>
                <textarea type="text" name="board[text]" id="text" class="form-control" value="<%= board.text %>">
            </div>
        </form>
    </div>
</div>